<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
		
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/ui-lightness/jquery-ui.css" /> 
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script> 
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="../js/Validaform.js"></script>

    <title>Document</title>
</head>

<body class="bg-dark">
    <div id="container" >
        <form action="" method="" id="frmContatos" class="p-3">
            <fieldset>
                <legend>Cadastro</legend>
                <div>
                    <label for="txtNome">Nome</label>
                    <input type="text" name="txtNome" id="txtNome" required>
                </div>
                </br>

                <div>
                    <label for="txtNascimento">Nascimento</label>
                    <input type="date" name="txtNascimento" id="txtNascimento">
                </div>
                </br>
                <div>
                    <label for="txtCPF">CPF</label>
                    <input type="text" name="txtCPF" id="txtCPF" placeholder="000.000.000.00">
                </div>
                </br>

                <div>
                    <label for="txtCEP">CEP</label>
                    <input type="text" name="txtCep" id="txtCep" placeholder="00000-000">
                    <a href="#" id="cep"><img src="../img/images (1).png" class="lupa" alt="..."></a>
                </div>
                </br>

                <div>
                    <label for="txtEndereço">Endereço</label>
                    <input type="text" name="txtEndereco" id="txtEndereco">

                </div>
                </br>


                <div>
                    <label for="txtBairro">Bairro</label>
                    <input type="text" name="txtBairro" id="txtBairro">

                </div>
                </br>

                <div>
                    <label for="txtCidade">Cidade</label>
                    <input type="text" name="txtCidade" id="txtCidade">

                </div>
                </br>
                <div>
                    <label for="txtUF">UF</label>
                    <input type="text" name="txtUF" id="txtUF">

                </div>
                </br>

                <div>
                    <label for="txtEmail">Email</label>
                    <input type="text" name="txtEmail" id="txtEmail">

                </div>
                </br>








                <div>
                    <label for="txtTelefone">Telefone</label>
                    <input type="text" name="txtFone" id="txtFone">

                </div>
                </br>


                <div class="botton">
                    
                <input type="button" name="btnEnviar" value="Salvar" id="btnEnviar" />
                <input type="button" name="btnListar" value="Listar" id="btnListar" class="m-3"/>
                <input type="reset" name="btnLimpar" value="Limpar" />

            </div>
            

                
            </fieldset>
        </form>

    </div>
</body>

</html>
